<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<mat-card class="details_card">

  <mat-card-title >Enter Database Details!</mat-card-title>
  <mat-card-content class="inline_details">
     
        <mat-form-field>
          <input matInput placeholder="Username" >
        </mat-form-field>
        <br>
       
        <mat-form-field>
          <input type="password" matInput placeholder="Password" />
        </mat-form-field>
      
        <br>
        <mat-form-field>
          <input matInput placeholder="Server Name" />
        </mat-form-field>
     
        <br>
        <mat-form-field>
          <input matInput placeholder="Port Number" />
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Database Name" />
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary">Connect!</button>
  
  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>