<div class="sider">
  <ul class="collection">
   <li *ngFor = " let coll of dbService.collectionList"  (click)="onSelect(coll)">
     <span class='badge'></span>{{coll.name}}
     </li>
  </ul>
</div>
<div class="content">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
  </div>
  
  
