<div class="sider">
  <ul class="collection">
   <li *ngFor = " let coll of dbService.collectionList"  (click)="onSelect(coll)">
     {{coll.name}}
     </li>
  </ul>
</div>
<div class="content collection-details" *ngIf="isSelected && isPrimary">
<button mat-raised-button (click)="addDocument()" color="primary" >Create a Document</button>
<button class="mat-raised-button mat-accent"  mat-raised-button (click)="convertView()" color="accent" >Raw View</button>

  <table mat-table [dataSource]="data" class="mat-elevation-z8">
     
      <ng-container *ngFor = "let test of rows" matColumnDef={{test}} >
        <th mat-header-cell *matHeaderCellDef>{{test}} </th>
        <td mat-cell *matCellDef="let element"> {{element[test]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="rows"></tr>
      <tr mat-row *matRowDef="let row; columns: rows;" (click)="itemSelected(row)"></tr>
     
    </table>
    <mat-paginator  [pageSizeOptions]="[10]"></mat-paginator>

  </div>
  <div class="content collection-details" *ngIf="isSelected && isSecondary">
    <button mat-raised-button (click)="addDocument()" color="primary" >Create a Document</button>
<button class="mat-raised-button mat-accent"  mat-raised-button (click)="convertView()" color="accent" >Raw View</button>
<mat-form-field>
  <textarea matInput [(ngModel)]="query" placeholder="Your Query Here"></textarea>
</mat-form-field>
<button mat-raised-button (click)="filterDocument(query)" color="primary" >Filter</button>

  <mat-list role="list">
    <mat-list-item class="list-item" role="listitem"  *ngFor="let d of newData" >
        <p (click)="itemSelected(d)">{{d|json}}</p>
    </mat-list-item>
  </mat-list>
  <div class="footer">
  <p *ngIf="newData.length > 0">Showing {{skip}} - {{skip + newData.length}}</p>
  <a *ngIf="prevAvailable" (click)="previous()">prev</a><a *ngIf="nextAvailable" (click)="next()">Next</a>
</div>
  </div>
  
  
